@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Herr+Von+Muellerhoff&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainFont: 'Source Sans Pro', sans-serif;
    --secondaryFont: 'Herr Von Muellerhoff', cursive;
    --bodyFont: 'Cabin', sans-serif;
    --main-color: rgb(237,70,48);
    --darkFontMain: rgb(25,25,24);
    --fontColor: rgb(10,23,52);
    --greyFontColor: #515151;
    --other-blue: rgb(0,51,97);
    --lightColor: white;
    --transparentColor: rgba(0, 131, 245, 0.164);
}

html{
    font-family: var(--bodyFont);
    color: var(--fontColor);
    scroll-behavior: smooth;
    font-size: 10px;
}

.innerSection{
  margin: 6rem 0.1rem;
}

body{
  overflow-x: hidden;
}


img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}

.container{
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 0.24rem;
}
.brandLogo img{
  height: auto;
  width: 65px;
  object-fit: cover;
  margin-left: 2rem;
}

.d-grid{
display: grid;
}

header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--other-blue);
  padding: 10px 0px;

}

.transBack{
  background-color: var(--transparentColor);
}

.nav{
  margin-top: 80px;

  padding: 2rem 0;

  width: 100%;
}

.navBar{
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuToggle{
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.menuClose{
  display: none;
}

.navList{
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--darkFontMain);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1250;
  transition: transform 0.5s;
  transform: translateX(-100%);
}


.navBar::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.open .menuClose{
  display: block;
}
.open .menuOpen{
  display: none;
}
.open .navList{
  transform: translateX(0);
}
.open .navBar::before{
  opacity: 1;
  transform: scale(1);
}

.underline{
  border-bottom: 2px solid rgba(255,255,255, 0.3) ;
}

#theme-change-button {
background: transparent;
border: none;
}

#theme-change-button ion-icon{
font-size: 26px;
}

.navLink{
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}

.content {
  width: 95%;
  margin: 100px 0px;
  font-size: larger;
  min-height: 120vh;
}

.midCard{
  background-color: #007bff;
  color: white;
  width: 28rem;
  height: 28rem;
  align-items: center;
  justify-items: center;
}

.btn-lg{
  background-color: var(--transparentColor);
  border-radius: 50%;
  padding: 2px 4px;
  font-family: fantasy;
  color: rgb(0, 54, 75);
}
.btn-lg:hover{
  background-color: var(--transparentColor);
  border: none;
  border: 1px solid var(--transparentColor);
}
.btn-lg:active{
  background-color: var(--transparentColor);
  border: 1px solid var(--transparentColor);
}
.btn-lg:focus{
  background-color: var(--transparentColor);
  border: 1px solid var(--transparentColor);
}

.formUserPlan{
  margin-top: 4rem;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
.content__title--m-sm {
  margin-bottom: 10px;
}
.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, .7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
 }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}
.multisteps-form__form {
  position: relative;
}
.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}

.radioColumn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-check{
  margin: 5px 12px;
}

.form-check-input{
  width: 28px;
  height: 28px;
}

.imageCard{
  color: #fff; 
  width: 28rem; height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 8px;
}

/*  */
footer{
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

footer img{
  height: 70px;
  width: auto;
}

.backToTop{
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.backToTop ion-icon{
  display: block;
  color: white;
  font-size: 34px;
  padding: 1rem 1.8rem;
  animation: up 2s infinite;
}

.footerContent{
  overflow: hidden;
}

.footerContent h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.footerContent ion-icon{
  margin: 1rem 0;
}

.aboutFooter{
  margin-bottom: 5.4rem;
}

.aboutFooter p{
  line-height: 2;
}

.socialIcons{
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.socialIcons img{
  padding: 0.8rem 0.6rem;
  transition: color 0.5s;
}

.newsLetterForm{
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
}

.newsLetterInput{
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: none;
}

.newsLetterBtn{
  background-color: transparent;
  padding: 0px 1.6rem;
  border: none;
  color: var(--other-blue);
  font-size: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 20.5rem;
}

.newsLetterBtn ion-icon{
  margin-top: 19px;
}



/*  */
@media screen and (min-width: 900px){
  section{
     padding: 2rem;
  }

  .menuToggle{
    display: none;
  }

  .navBar{
    justify-content: space-between;
  }

  .navList{
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .navItem{
    margin: 0 2.4rem;
    border: none;
  }

  .multisteps-form__input{
    font-size: 1.4rem;
    padding: 7px 14px;
  }

  .navLink{
    font-size: 1.3rem;
  }

  .content{
    font-size: 1.7rem;
  }

  .form-select{
    font-size: 1.5rem;
  }

  .button-row > button{
    font-size: 1.58rem;
  }

  .nav{
    font-size: 1.89rem;
  }

  .col{
    font-size: 1.5rem;
  }

  .active{
    position: relative;
  }
  
  .active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--fontColor);
    left: 0;
    bottom: -3px;
  }

  .subHeadline{
    font-size: 10rem;
  }

  .firstLetter{
    font-size: 12.2rem;
  }

  .headline{
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  .line{
    max-width: 11.4rem;
  }

  .distInfo{
    display: flex;
    align-items: center;
  }

  .distInfo > div{
    flex: 1;
  }

  .paddingRight{
    padding-right: 7rem;
  }

  footer{
    margin-bottom: -5rem;
  }

  .footerContent{
    max-width: 77.5rem;
    margin: auto;
  }

  .aboutFooter{
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }



}


@media (max-width: 830px){
   .pricing-plan {
    margin: 2rem 0rem;
  }

.feature{
   justify-content: space-evenly;
}

.feature .featureBox{
   margin: 0 0 15px 0;  
   width: 155px;       
 }

 .navList{
  position: absolute;  
}

.background::after {

  position: relative;
 
}


}