@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Herr+Von+Muellerhoff&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainFont: 'Source Sans Pro', sans-serif;
    --secondaryFont: 'Herr Von Muellerhoff', cursive;
    --bodyFont: 'Cabin', sans-serif;
    --main-color: rgb(237,70,48);
    --darkFontMain: rgb(25,25,24);
    --fontColor: rgb(10,23,52);
    --greyFontColor: #515151;
    --other-blue: rgb(0,51,97);
    --lightColor: white;
    --transparentColor: rgba(0, 131, 245, 0.164);
}

.dropBtn:active, .dropBtn:hover, .dropBtn:focus {
    outline: 0!important;
    outline-offset: 0;
  }
  .dropBtn::before,
  .dropBtn::after {
    position: absolute;
    content: "";
  }

.dropBtn {
    position: relative;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
    .dropBtn span {         
      position: relative;
      display: inline-block;
      font-size: 15px;
      font-weight: bolder;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

.dropBtn-1{
  background-color: #fff;
}

.dropBtn-1::before {
    background-color: var(--fontColor);
    transition: 0.3s ease-out;
  }
  .dropBtn-1 span {
    color: rgb(255,255,255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  .dropBtn-1 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }
  
  /* 1.hover-filled-slide-down */
  .dropBtn.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0; 
    height: 100%; width: 100%;
  }
  .dropBtn.hover-filled-slide-down:hover::before {
    height: 0%;
  }

  .dropBtn-2{
    background-color: black;
  }

  .dropBtn-2::before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
  }
  .dropBtn-2 span {
    color: rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
  }  
  .dropBtn-2 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }

  .dropBtn-21{
    background-color: transparent;
  }

  .dropBtn-21::before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
  }
  .dropBtn-21 span {
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    transition: 0.2s;
  }  
  .dropBtn-21 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }
  
  /* 6. hover-slide-down */
  .dropBtn.hover-slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .dropBtn.hover-slide-down:hover::before {
    height: 100%;
  }

  /* 9. hover-slide-right */
.dropBtn.hover-slide-right::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
  }
  .dropBtn.hover-slide-right:hover::before {
    width: 100%;
  }

  .moonIcon{
    display: none;
  }
  
  .light-theme .sunIcon{
    display: none;
  }
  
  .light-theme .moonIcon{
    display: block;
  }

/* body.light-theme{
    
}
.navbar.light-theme{
 
} */
html{
    font-family: var(--bodyFont);
    font-size: 10px;
    color: var(--fontColor);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 0.24rem;
}
.brandLogo img{
    height: auto;
    width: 65px;
    object-fit: cover;
    margin-left: 2rem;
}

.d-grid{
  display: grid;
}
 body{
  background-color: var(--light-color);
 }
/*  */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--other-blue);
    padding: 10px 0px;
 }

.navBar{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuToggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.menuClose{
    display: none;
}

.navList{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--darkFontMain);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1250;
    transition: transform 0.5s;
    transform: translateX(-100%);
}


.navBar::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.open .menuClose{
    display: block;
}
.open .menuOpen{
    display: none;
}
.open .navList{
    transform: translateX(0);
}
.open .navBar::before{
    opacity: 1;
    transform: scale(1);
}

.underline{
    border-bottom: 2px solid rgba(255,255,255, 0.3) ;
}

#theme-change-button {
  background: transparent;
  border: none;
}

#theme-change-button ion-icon{
  font-size: 26px;
}

.navLink{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.5s;
}

/*  */
.cover{
    width: 100%;
    height: 85vh;
    background-size: cover;
    display: flex;
    align-items: start;
    text-align: start;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 85vh;
    position: absolute;
    top: 0;
    left: 0;
   
  }

  .coverContent{
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
  
  }

.subHeading{
    font-size: 4rem;
    font-weight: bolder;
    font-family: var(--mainFont);
    color: var(--other-blue);
    line-height: 1;
    margin-top: 1rem; 
    opacity: 0;
    animation: fadeUp 0.5s forwards;   
    animation-delay: 1s;
}
.firstLetter{
    text-transform: uppercase;
    font-size: 8.3rem;
    font-family: var(--secondaryFont);
}
.headline{
    color: #fff;
    font-size: 2.7rem;
    font-family: var(--bodyFont);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}
.divider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 22.4rem;
    height: 0.25rem;
    background-color: #fff;
    position: relative;
}

.symbol{
    font-size: 28px;
    color: gold;
    margin: 0 1.6rem;
}

.headlineDesc p{
    color: white;
    font-weight: bolder;
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
    margin-top: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.singleAnimation h5{
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.65rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1.5px;
    margin-right: -3px;
    background-color: rgba(1, 1, 36, 0.692);
    padding: 8px 18px;
    margin-bottom: 1.6rem;
    border-radius: 73% 27% 26% 74% / 44% 56% 44% 56% ;
}

.coverBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* featured */
.feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1.8rem;      
}

.feature .featureBox{   
    text-align: center;
    width: 160px;
    text-align: center;
    padding: 0px 15px;
    border-radius: 4px;
    margin: 10px 24px;
    background-color: var(--transparentColor);
}

.feature .featureBox:hover{    
    box-shadow: 5px 5px 54px rgba(148, 55, 75, 0.884);    
}

.feature .featureBox img{
   width: 100%;
   height: 100px;
}

.feature .navLink{
    margin-top: 2rem;
}

.featureSection .navLink{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
.centreText{
  text-align: center;
}

.globalHeadline{
  text-align: center;
  margin-top: 3.9rem;
}

.discover .globalHeadline{
  margin-top: 6.9rem;
}

.globalHeadline .symbol{
  color: var(--fontColor);
  margin: 2.4rem 0;
}

.headlineDark{
  color: var(--darkFontMain);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
  text-align: center;
}

.globalHeadline .subHeadline{
  letter-spacing: -1px;
  line-height: 0.42;

}

.globalHeadline .subHeadline b{
  font-size: xx-large;
}

.distInfo{
  text-align: center;
}

.distDesc{
  margin-bottom: 3rem;
}

.distDesc p{
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.bodyBtn{
  font-size: 1.5rem;
  color: var(--other-blue);
  position: relative;
  transition: color 0.5s;
}

.bodyBtn::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--other-blue);
  transition: background-color 0.5s;
}

.bodyBtn:hover, .bodyBtn:focus{
  color: var(--darkFontMain);
}

.bodyBtn:hover::before,
.bodyBtn:focus::before{
  background-color: var(--darkFontMain);
}

/*  */
.services{
  background: url("../media/musicCover2.jpg") center no-repeat;
  background-size: cover;
}

.middle{
  min-height: 65vh;
  display: flex;
  align-items: center;
}

.services .animateTop .subHeadline{
  color: var(--main-color);
}


/*  */
.imageGroup{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;
}

.moreServices .distDesc{
  padding-top: 3rem;
  margin-bottom: 0;
}

/*  */
.toolsBlend{
  background: url("../media/musicCover.jpg") center no-repeat;
  background-size: cover;
}

.toolsBlend .animateBottom .centreText{
  color: var(--main-color);
}

/*  */
footer{
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

footer img{
  height: 70px;
  width: auto;
}

.backToTop{
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.backToTop ion-icon{
  display: block;
  color: white;
  font-size: 34px;
  padding: 1rem 1.8rem;
}

.footerContent{
  overflow: hidden;
}

.footerContent h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.footerContent ion-icon{
  margin: 1rem 0;
}

.aboutFooter{
  margin-bottom: 5.4rem;
}

.aboutFooter p{
  line-height: 2;
}

.socialIcons{
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.socialIcons img{
  padding: 0.8rem 0.6rem;
  transition: color 0.5s;
}

.newsLetterForm{
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
}

.newsLetterInput{
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: none;
}

.newsLetterBtn{
  background-color: transparent;
  padding: 0px 1.6rem;
  border: none;
  color: var(--other-blue);
  font-size: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 20.5rem;
}

.newsLetterBtn ion-icon{
  margin-top: 19px;
}

/* Animations */
@keyframes fadeUp{
  0%{
    transform: translateY(4rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


/* pricing page */
.menuContainer::before{
  background-image: linear-gradient(
    98deg,
    rgba(181, 192, 243, 0.185),
    rgba(178, 235, 245, 0.13)
  ), url('../media/djCover.jpg');
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.menu {
  margin-bottom: 5rem;
  height: 70vh;
  padding: 2rem 0 3rem;
  opacity: none;
}


/* pricing Table */
.background {
  /* padding: 0 25px 25px; */
  background-color: var(--other-blue);
  position: relative;
  width: 100%;
  margin-top: 6rem;
}

.background::after {
  content: '';
  /* background: var(--other-blue); */
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}


.brandLogo img{
  height: auto;
  width: 65px;
  object-fit: cover;
  margin-left: 2rem;
}

/*  */
.payContainer {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 1200px;
  width: 100%;
}

.panel {
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
  background-color: white;
  margin: 0rem 2rem;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: var(--other-blue);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: var(--fontColor);
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: var(--other-blue);
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}

#info{
  padding: 0 100px;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
   color: var(--light-color);
   font-size: var(--font-size-md);
}

.textLink{
  font-weight: bolder;
  border-bottom: dotted 3px var(--gold-color);
}

/* publishing styles */
.publishContainer::before{
  background-image: linear-gradient(
    98deg,
    rgba(54, 90, 250, 0.486),
    rgba(178, 235, 245, 0.384)
  ), url('../media/pexels-brett-sayles-2479312.jpg');
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.sellContainer::before{
  background-image: linear-gradient(
    98deg,
    rgba(250, 198, 54, 0.486),
    rgba(245, 203, 178, 0.384)
  ), url('../media/sellcover.jpg');
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.sellContainer .coverContent .navBar .navList .navItem .navLink{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sellContainer .coverContent .navBar .navList .navItem .navLink:hover{
  transform: scale(1.1);
}
.sellContainer .coverContent .navBar .navList .navItem .navLink ion-icon{
  margin-right: 5px;
}
















/*  */
@media screen and (min-width: 900px){
  section{
     padding: 2rem;
  }

  .menuToggle{
    display: none;
  }

  .navBar{
    justify-content: space-between;
  }

  .navList{
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .navItem{
    margin: 0 2.4rem;
    border: none;
  }

  .navLink{
    font-size: 1.3rem;
  }

  .active{
    position: relative;
  }
  
  .active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--fontColor);
    left: 0;
    bottom: -3px;
  }

  .subHeadline{
    font-size: 10rem;
  }

  .firstLetter{
    font-size: 12.2rem;
  }

  .headline{
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  .line{
    max-width: 11.4rem;
  }

  .distInfo{
    display: flex;
    align-items: center;
  }

  .distInfo > div{
    flex: 1;
  }

  .paddingRight{
    padding-right: 7rem;
  }

  .footerContent{
    max-width: 77.5rem;
    margin: auto;
  }

  .aboutFooter{
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }



}


@media (max-width: 830px){
   .pricing-plan {
    margin: 2rem 0rem;
  }

.feature{
   justify-content: space-evenly;
}

.feature .featureBox{
   margin: 0 0 15px 0;  
   width: 155px;       
 }

 .navList{
  position: absolute;  
}

.background::after {

  position: relative;
 
}


}