@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Herr+Von+Muellerhoff&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainFont: 'Source Sans Pro', sans-serif;
    --secondaryFont: 'Herr Von Muellerhoff', cursive;
    --bodyFont: 'Cabin', sans-serif;
    --main-color: rgb(237,70,48);
    --darkFontMain: rgb(25,25,24);
    --fontColor: rgb(10,23,52);
    --greyFontColor: #515151;
    --other-blue: rgb(0,51,97);
    --lightColor: white:
}

.dropBtn:active, .dropBtn:hover, .dropBtn:focus {
    outline: 0!important;
    outline-offset: 0;
  }
  .dropBtn::before,
  .dropBtn::after {
    position: absolute;
    content: "";
  }

.dropBtn {
    position: relative;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
    .dropBtn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

.dropBtn-1::before {
    background-color: var(--fontColor);
    transition: 0.3s ease-out;
  }
  .dropBtn-1 span {
    color: rgb(255,255,255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  .dropBtn-1 span:hover {
    color: rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  
  /* 1.hover-filled-slide-down */
  .dropBtn.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0; 
    height: 100%; width: 100%;
  }
  .dropBtn.hover-filled-slide-down:hover::before {
    height: 0%;
  }

  .moonIcon{
    display: none;
  }
  
  .light-theme .sunIcon{
    display: none;
  }
  
  .light-theme .moonIcon{
    display: block;
  }

/* body.light-theme{
    
}
.navbar.light-theme{
 
} */
html{
    font-family: var(--bodyFont);
    font-size: 10px;
    color: var(--fontColor);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 0.24rem;
}
.brandLogo img{
    height: auto;
    width: 85px;
    object-fit: cover;
}

/*  */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}

.navBar{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuToggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.menuClose{
    display: none;
}

.navList{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--darkFontMain);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transition: transform 0.5s;
    transform: translateX(-100%);
}

.navBar::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.open .menuClose{
    display: block;
}
.open .menuOpen{
    display: none;
}
.open .navList{
    transform: translateX(0);
}
.open .navBar::before{
    opacity: 1;
    transform: scale(1);
}

.underline{
    border-bottom: 2px solid rgba(255,255,255, 0.3) ;
}

.navLink{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.5s;
}

/*  */
.cover{
    width: 100%;
    height: 85vh;
    border: 2px solid green;
    background-size: cover;
    display: flex;
    align-items: start;
    text-align: start;
}

.container video{
   padding: 15vh 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height:  22rem;
    opacity: 0.8;    
  }
  