@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Herr+Von+Muellerhoff&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainFont: 'Source Sans Pro', sans-serif;
    --secondaryFont: 'Herr Von Muellerhoff', cursive;
    --bodyFont: 'Cabin', sans-serif;
    --main-color: rgb(237,70,48);
    --darkFontMain: rgb(25,25,24);
    --fontColor: rgb(10,23,52);
    --greyFontColor: #515151;
    --other-blue: rgb(0,51,97);
    --lightColor: white:
}

.dropBtn:active, .dropBtn:hover, .dropBtn:focus {
    outline: 0!important;
    outline-offset: 0;
  }
  .dropBtn::before,
  .dropBtn::after {
    position: absolute;
    content: "";
  }

.dropBtn {
    position: relative;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
    .dropBtn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

.dropBtn-1::before {
    background-color: var(--fontColor);
    transition: 0.3s ease-out;
  }
  .dropBtn-1 span {
    color: rgb(255,255,255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  .dropBtn-1 span:hover {
    color: rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  
  /* 1.hover-filled-slide-down */
  .dropBtn.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0; 
    height: 100%; width: 100%;
  }
  .dropBtn.hover-filled-slide-down:hover::before {
    height: 0%;
  }

  .dropBtn-2{
    background-color: black;
  }

  .dropBtn-2::before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
  }
  .dropBtn-2 span {
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    transition: 0.2s;
  }  
  .dropBtn-2 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }
  
  /* 6. hover-slide-down */
  .dropBtn.hover-slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .dropBtn.hover-slide-down:hover::before {
    height: 100%;
  }

  .moonIcon{
    display: none;
  }
  
  .light-theme .sunIcon{
    display: none;
  }
  
  .light-theme .moonIcon{
    display: block;
  }

/* body.light-theme{
    
}
.navbar.light-theme{
 
} */
html{
    font-family: var(--bodyFont);
    font-size: 10px;
    color: var(--fontColor);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 0.24rem;
}
.brandLogo img{
    height: auto;
    width: 65px;
    object-fit: cover;
}

/*  */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--other-blue);
    padding: 10px 0px;
 }

.navBar{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuToggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.menuClose{
    display: none;
}

.navList{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--darkFontMain);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transition: transform 0.5s;
    transform: translateX(-100%);
}

.navBar::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.open .menuClose{
    display: block;
}
.open .menuOpen{
    display: none;
}
.open .navList{
    transform: translateX(0);
}
.open .navBar::before{
    opacity: 1;
    transform: scale(1);
}

.underline{
    border-bottom: 2px solid rgba(255,255,255, 0.3) ;
}

.navLink{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.5s;
}

/*  */
.cover{
    width: 100%;
    height: 85vh;
    border: 2px solid green;
    background-size: cover;
    display: flex;
    align-items: start;
    text-align: start;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 85vh;
    position: absolute;
    top: 0;
    left: 0;
   
  }

  .coverContent{
    position: relative;
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    margin-left: -200px;
  }

.subHeading{
    font-size: 5.5rem;
    font-weight: bolder;
    font-family: var(--mainFont);
    color: white;
    line-height: 1;
    margin: 2rem 0rem;
}
.firstLetter{
    text-transform: uppercase;
    font-size: 8.3rem;
}
.headline{
    color: #fff;
    font-size: 2.7rem;
    font-family: var(--bodyFont);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    font-weight: bolder;
}
.divider{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line{
    width: 100%;
    max-width: 22.4rem;
    height: 0.25rem;
    background-color: #fff;
    position: relative;
    margin: 2rem 0rem;
}

.symbol{
    font-size: 28px;
    color: gold;
    margin: 0 1.6rem;
}

.headlineDesc p{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.singleAnimation h5{
    color: gold;
    font-weight: bold;
    font-size: 1.65rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1.5px;
    margin-right: -3px;
    background-color: rgba(128, 128, 128, 0.692);
    padding: 8px 18px;
}